<div class="withdraw-item-quantity-container">
  <h3>የወጪ ገጽ / Withdrawal Page</h3>
  <form (ngSubmit)="onSubmit()" class="form-container">


    <div class="form-group">
      <label for="recipient">
        ለማን እንድስጠ / Recipient
      </label>
      <input
        id="recipient"
        type="text"
        class="form-control"
        [(ngModel)]="withdrawalDetails.recipient"
        name="recipient"
        required
        placeholder="ለማን እንድስጠ / Recipient"
      />
    </div>


    <!-- Withdrawn Quantity / የወጪ ብዛት -->
    <div class="form-group">
      <label for="withdrawnQuantity">
        የወጪ ብዛት / Withdrawn Quantity
      </label>
      <input
        id="withdrawnQuantity"
        type="number"
        class="form-control"
        [(ngModel)]="withdrawalDetails.withdrawnQuantity"
        name="withdrawnQuantity"
        required
        placeholder="የወጪ ብዛት / Withdrawn Quantity"
      />
    </div>

    <!-- Recipient / ለማን እንድስጠ -->
    

    <!-- Box Count / የሳጥን ብዛት -->
    <div class="form-group">
      <label for="boxCount">
        የሳጥን ብዛት / Box Count
      </label>
      <input
        id="boxCount"
        type="number"
        class="form-control"
        [(ngModel)]="withdrawalDetails.boxCount"
        name="boxCount"
        required
        placeholder="የሳጥን ብዛት / Box Count"
      />
    </div>

    <!-- Withdrawal Date / የምርት ዘመን -->
    <div class="form-group">
      <label for="withdrawalDate">
        የወጣበት ቀን / Withdrawal Date
      </label>
      <input
        id="withdrawalDate"
        type="date"
        class="form-control"
        [(ngModel)]="withdrawalDetails.withdrawalDate"
        name="withdrawalDate"
        required
      />
    </div>

    <!-- Form Actions -->
    <div class="form-actions">
      <button type="submit" class="btn btn-primary">መዝግብ / Save</button>
      <button type="button" class="btn btn-cancel" (click)="cancel()">ተመለስ / Cancel</button>
    </div>
  </form>
</div>