<div class="sidebar" [ngClass]="{ 'closed': !showSidebar }">
    <h1>Admin Panel</h1>
  
    <ul>
      <li><a routerLink="/admin/users">User List</a></li>
      <li><a routerLink="/admin/register">Register User</a></li>
      <li><a routerLink="/admin/warehouse">Register Warehouse</a></li>
      <li><a routerLink="/admin/shelf">Register shelves</a></li>
      <li><a routerLink="/admin/warehouses">warehouse list</a></li>
      <li><a routerLink="/admin/shelves">shelf list</a></li>
      <li>
        <button class="logout-btn" routerLink="/login">Logout</button>
      </li>
    </ul>
  </div>